{% extends 'base.html.twig' %}

{% block title %}New InternshipOffer{% endblock %}

{% block body %}
    <h1>Create new InternshipOffer</h1>

    {{ include('internship_offer/_form.html.twig') }}

    <a href="{{ path('app_internship_offer_index') }}">back to list</a>
{% endblock %}
