<form method="post" action="{{ path('app_internship_supervisor_delete', {'id': internship_supervisor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ internship_supervisor.id) }}">
    <button class="btn">Delete</button>
</form>
