{% extends 'base.html.twig' %}

{% block title %}New InternshipSupervisor{% endblock %}

{% block body %}
    <h1>Create new InternshipSupervisor</h1>

    {{ include('internship_supervisor/_form.html.twig') }}

   
{% endblock %}
